* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: $font-family-sans-serif;
  background: #f7f9f9;
  height: 100%;
}

.container {
  padding: 0;
}

.v-toast {
  z-index: 999999999 !important;
}
