@mixin center-both {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin devices($breakpoint) {
  @if $breakpoint == laptop {
    @media only screen and (max-width: 1200px) {
      @content;
    }
  }

  @if $breakpoint == tablet-lg {
    @media only screen and (max-width: 992px) {
      @content;
    }
  }

  @if $breakpoint == tablet-sm {
    @media only screen and (max-width: 768px) {
      @content;
    }
  }

  @if $breakpoint == mobile {
    @media only screen and (max-width: 576px) {
      @content;
    }
  }

  @if $breakpoint == mobile-sm {
    @media only screen and (max-width: 300px) {
      @content;
    }
  }
}
