@use "vuetify/settings" with (
  $button-text-transform: "none",
  $button-color: #e43823,
  $button-background: #fadfdc,
  $list-item-title-font-weight: 500,
  $card-title-font-weight: 700,
  $application-background: #fbfbfb,
  $button-text-letter-spacing: unset
);
