// base

$primary: var(--primary);
$text-color: var(--text-color);
$muted-color: #cccccc;
$text-background: #edf6f2;
$background-color: #fbfbfb;
$white: #fff;
$font-family-sans-serif: "Poppins", sans-serif;

:root {
  --primary: #0c615e;
  --text-color: #343434;
}
